body{
    background-color: #82726B;
    color: #B5603A;
}
nav {
    border-bottom: 1px solid black;
}
.crumbs ol {
    list-style-type: none;
    padding-left: 0;
}

.crumb {
    display: inline-block;
}

.crumb a::after {
    display: inline-block;
    color: #000;
    font-size: 80%;
    font-weight: bold;
    padding: 0 3px;
}
/* color ref:
#82726B
#B5603A
#E86461
#9DEBA0
#60B53A
*/